header {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 2.4em;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2em;
}

nav .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

nav .menu {
  visibility: hidden;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  max-height: 0;
  overflow: hidden;

  list-style: none;
  transition: all 0.3s linear;
}

nav .open {
  margin-top: 2em;
  visibility: visible;
  max-height: 100vh;
}

nav .menu-container .logo-container {
  display: flex;
  align-items: center;
}

nav .menu-container .logo-container .logo-img {
  height: 4em;
  width: 4em;
  object-fit: contain;
}

nav .menu-container .logo-container .logo-text {
  color: var(--black-color);
  font-family: "Poppins";
  font-size: 4em;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.12em;
}

nav .menu-container .toggle-containers .svg-inline--fa {
  cursor: pointer;
  height: 4em;
}

nav .menu .menu-item {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;

  padding: 1em;

  transition: all 0.3s linear;
}

@media (min-width: 800px) {
  nav .menu .menu-item {
    padding: 1em 2em;
  }
}

nav .menu .menu-item:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

nav .menu .menu-item:last-child:hover {
  background-color: var(--white-color);
  transform: scale(1);
}

nav .menu .menu-item a {
  font-size: 2em;
}

nav .menu .menu-item .btn {
  padding: 2em 3em;
}

nav .menu .menu-item .btn .btn-text {
  font-size: 2em;
}

@media (min-width: 700px) {
  nav {
    align-items: center;
  }

  nav .menu-container {
    flex-direction: column;
  }

  nav .menu-container .toggle-containers {
    display: none;
  }

  nav .menu {
    display: flex;
    align-items: center;
    visibility: visible;
    max-height: initial;
  }

  nav .menu .menu-item:hover {
    transform: scale(0.8);
  }
}

@media (min-width: 1440px) {
  nav,
  nav .menu-container {
    flex-direction: row;
  }
}
